[Desktop Entry]
Encoding=UTF-8
Name=Bitcoinwspectrum (testnet)
Comment=Core wallet for Bitcoinwspectrum P2P Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung Bitcoinwspectrum (testnet)
Exec=/usr/bin/bitcoinwspectrum-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoinwspectrum-testnet128.png
MimeType=x-scheme-handler/bitcoinwspectrum;
Categories=Application;Network;
